.lead__image {
  height: 580px;
  width: 100%;
  margin-bottom: 8px;
  object-fit: cover;
}

@media screen and (min-width: 1280px) {
  .lead__image {
    height: 615px;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .lead__image {
    height: 480px;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}