.intro {
  max-width: 690px;
  padding: 92px 48px;
}

@media screen and (min-width: 1280px) {
  .intro {
    padding: 42px 90px 72px;
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 690px;
    padding: 88px 24px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    padding: 64px 16px;
  }
}