.header {
  max-width: 1184px;
  min-height: 52px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: 28px 15px 0;
  box-sizing: content-box;
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    min-height: 42px;
    padding: 16px 16px 0;
  }
}