.title {
  font-size: 72px;
  line-height: 106%;
  font-weight: 900;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 42px;
    line-height: 110%;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 52px;
    line-height: 109%;
    padding-left: 16px;
  }
}

@media screen and (max-width: 425px) {
  .title {
    font-size: 32px;
  }
}