.footer {
  width: 928px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 92px 48px 24px;
}

@media screen and (min-width: 1280px) {
  .footer {
    width: 1184px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    padding-top: 88px;
    padding-bottom: 24px;
  }    
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    margin: 0 auto;
    padding-top: 88px;
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 618px) {
  .footer {
    width: 186px;
    margin: 0;
    padding-top: 64px;
    padding-left: 16px;
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    padding-bottom: 24px;
  }
}