.main {
  max-width: 1279px;
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .main {
    max-width: 1280px;
  }
}

@media screen and (max-width: 1024px) {
  .main {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .main {
    max-width: 768px;
  }
}