@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/inter-v7-latin_cyrillic-regular.eot'); 
  src: local(''),
       url('../../fonts/inter-v7-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), 
       url('../../fonts/inter-v7-latin_cyrillic-regular.woff2') format('woff2'), 
       url('../../fonts/inter-v7-latin_cyrillic-regular.woff') format('woff'), 
       url('../../fonts/inter-v7-latin_cyrillic-regular.ttf') format('truetype'), 
       url('../../fonts/inter-v7-latin_cyrillic-regular.svg#Inter') format('svg'); 
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('../../fonts/inter-v7-latin_cyrillic-900.eot'); 
  src: local(''),
       url('../../fonts/inter-v7-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'), 
       url('../../fonts/inter-v7-latin_cyrillic-900.woff2') format('woff2'), 
       url('../../fonts/inter-v7-latin_cyrillic-900.woff') format('woff'), 
       url('../../fonts/inter-v7-latin_cyrillic-900.ttf') format('truetype'), 
       url('../../fonts/inter-v7-latin_cyrillic-900.svg#Inter') format('svg'); 
}
