.place__image {
  max-width: 440px;
  object-fit: cover;
}

@media screen and (min-width: 1280px) {
  .place__image {
    max-width: 460px;
  }
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
   max-width: 340px;
  }
}

@media screen and (max-width: 618px) {
  .place__image {
    width: 100%;
    padding-left: 16px;
  }
}

@media screen and (max-width: 375px) {
  .place__image {
   padding-left: 0px;
  }
}