.place {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 48px 32px;
  padding-bottom: 80px;
}

.place:last-child {
  padding-bottom: 0;
}

@media screen and (min-width: 1280px) {
  .place {
    grid-gap: 48px 40px;
  }
}

@media screen and (max-width: 1024px) {
  .place {
    padding-bottom: 73px;
    grid-gap: 48px 28px;
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    padding-bottom: 50px;
    padding-left: 0;
    grid-gap: 38px 32px;
  } 
}

@media screen and (max-width: 618px) {
  .place {
    display: block;
  } 
}
