.place {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 48px 32px;
  padding-bottom: 80px;
}

.place:last-child {
  padding-bottom: 0;
}

@media screen and (min-width: 1280px) {
  .place {
    grid-gap: 48px 40px;
  }
}