.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 14px;
  object-fit: cover;
  margin: 0;
  justify-items: stretch;
  
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 16px;
    
  }
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    padding: 0 24px;
    max-width: 928px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 16px;
    justify-items: stretch;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 720px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    
  }
}

@media screen and (max-width: 618px) {
  .photo-grid {
    max-width: 570px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    
  }
}