.lead__title {
  font-size: 96px;
  line-height: 104%;
  text-align: center;
  padding: 48px 0 32px;
  font-weight: 900;
  box-sizing: content-box;
}

@media screen and (min-width: 1280px) {
  .lead__title {
    margin: 0 auto;
    padding-top: 134px;
    max-width: 720px;
  }
}

@media screen and (max-width: 1024px) {
  .lead__title {
    padding:48px 0 32px;
    margin: 0;
  }
}