/* ----------------------------------------------------- */
@media screen and (min-width: 1280px) {

  /* .main {
    max-width: 984px;
  } */

  
  /* }.lead__image {
    height: 615px;
    width: 100%; */

  /* .lead__subtitle {
    margin-bottom: 64px;
  } */
  
  /* .intro {
    margin: 42px 0 72px;
  } */

  /* .intro__text {
    margin-bottom: 25px;
  } */

  /* .photo-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 16px;
    margin: 0 -90px;
  } */

  /* .places {
    padding-top: 111px;
    padding-bottom: 62px;
  } */

  /* .place {
    grid-gap: 48px 40px;
  } */

  /* .place__image {
    width: 460px;
    height: 460px;
  } */

  .place__url-heading {
    padding-bottom: 10px;
  }

  /* .cover {
    width: 1184px;
    height: 740px;
  } */

  /* .footer {
    width: 1184px;
    padding-bottom: 20px;
  }*/
} 

/* ---------------------------------------------------- */

@media screen and(min-width: 768px) and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    min-height: 52px;
  }

  .main {
    max-width: 768px;
    padding: 0 24px;
  }

  .lead__title {
    margin-top: 48px;
  }

  .lead__image {
    height: 480px;
    padding-bottom: 8px;
  }

  .lead__caption {
    margin-top: 8px;
  }

  .intro {
      max-width: 720px;
      margin: 88px auto;
    }

  .photo-grid {
      max-width: 720px;
      margin: 0 auto;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-gap: 16px;
      justify-items: stretch;
    }

  .places {
      padding: 88px 0 90px;
    }

  .place {
      padding-bottom: 73px;
      padding-left: 24px;
      grid-gap: 48px 28px;
      max-width: 720px;
    }

  .title {
      font-size: 42px;
      line-height: 110%;
    }

  .place__image {
      max-width: 340px;
      max-width: 340px;
    }

  .place__paragraph {
      padding-bottom: 25px;
      font-size: 16px;
    }

  .cover {
      width: 768px;
      height: 480px;
      margin: 0;
    }

    .cover__title {
      font-size: 72px;
      line-height: 76px;
    }
    

  .footer {
      width: 720px;
      padding-top: 88px;
      padding-bottom: 24px;
    }    
}

/* ------------------------------ */
@media screen and (max-width: 640px) {
  .place {
    display: block;
    padding-bottom: 50px;
    padding-left: 0;
  }

    .place__website {
      margin-bottom: 20px;
  }
} 
/* ---------------------------- */
@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    min-height: 42px;
    padding: 16px 16px 0;
  }

  .header__logo {
    width: 142px;
    height: 42px;
  }

  .header__lang-link {
    font-size: 22px;
    line-height: 20px;
    padding-right: 18px;
  }
  
  .main {
    max-width: 320px;
    margin: 0 auto;
  }

  .lead__title {
    font-size: 40px;
    line-height: 110%;
    text-align: center;
    margin: 48px 0 16px;
    padding: 0 16px;
    box-sizing: content-box;
  }

  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    max-width: 288px;
    margin:0 0 40px;
  }

  .lead__image {
    height: 200px;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .lead__caption {
    margin-top: 8px;
    padding-left: 16px;
  }

  .intro {
    max-width: 288px;
    margin: 64px 16px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
    font-weight: 900;
    margin: 0;
  }
  
  .intro__text {
    font-size: 16px;
    line-height: 163%;
    margin: 40px 0 34px;
  }

  .photo-grid {
    max-width: 288px;
    grid-template-columns: repeat(1, 288px);
    grid-template-rows: repeat(12, 216px);
    
  }
  
  .places {
    padding: 64px 0 66px;
  }
  
  .place {
    display: block;
    padding-bottom: 50px;
    padding-left: 0;
  }    
  
  .place:last-child {
    padding-bottom: 0;
  }
  
  .title {
    font-size: 32px;
    line-height: 109%;
    padding-left: 16px;
  }
  
  .place__website {
    margin-top: 32px;
    padding-left: 16px;
  }
  
  .place__link {
    margin-bottom: 32px;
  }
  
  .place__paragraph {
    padding-left: 16px;
    font-size: 16px;
    line-height: 163%;
    margin: 0;
    padding-bottom: 25px;
  }
  
  .place__image {
    max-width: 320px;
    max-height: 320px;
  }

  .cover {
    width: 320px;
    height: 200px;
  }

  .cover__title {
    padding:0 0 16px;
    max-width: 288px;
    font-size: 32px;
    line-height: 109%;
  }
  
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    max-width: 288px;
  }

  .footer {
    width: 186px;
    margin: 0;
    padding-top: 64px;
    padding-left: 16px;
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    padding-bottom: 24px;
  }

  .link__navigation {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 32px;
    display: inline-block;
  }

  .link__navigation:last-child {
    margin-bottom: 48px;
  }

  .footer__copyright {
    margin: 0;
    font-size: 14px;
    line-height: 14px;
  }
}




