.place__paragraph {
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  padding-bottom: 26px;
}

.place__paragraph:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    padding-bottom: 25px;
    font-size: 16px;
  }
}