.place__paragraph {
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  padding-bottom: 26px;
}

.place__paragraph:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    padding-bottom: 25px;
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
    margin: 0;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 618px) {
  .place__paragraph {
    padding-left: 16px;
    font-size: 16px;
    line-height: 163%;
    margin: 0;
    padding-bottom: 25px;
  }
}